---
- name: assert | Test if spamassassin_group is set correctly
  ansible.builtin.assert:
    quiet: true
    that:
      - spamassassin_group is defined
      - spamassassin_group is string
- name: assert | Test if spamassassin_user is set correctly
  ansible.builtin.assert:
    quiet: true
    that:
      - spamassassin_user is defined
      - spamassassin_user is string
