---
- name: assert | Test if spamassassin_group is set correctly
  ansible.builtin.assert:
    that:
      - spamassassin_group is defined
      - spamassassin_group is string
    quiet: true

- name: assert | Test if spamassassin_user is set correctly
  ansible.builtin.assert:
    that:
      - spamassassin_user is defined
      - spamassassin_user is string
    quiet: true
